interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer xoxb-8228632731095-8243326122850-gkLhuStsPZcPlvGljOZ0Qoe4
    method: GET
    uri: https://slack.com/api/conversations.list
  response:
    body:
      string: '{"ok":true,"channels":[{"id":"C086YFY7L4W","name":"all-sacumen","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1735880164,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"all-sacumen","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T086QJLMH2T","updated":1735880193380,"parent_conversation":null,"creator":"U087HR246Q1","is_ext_shared":false,"shared_team_ids":["T086QJLMH2T"],"pending_connected_team_ids":[],"is_member":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"Share
        announcements and updates about company news, upcoming events, or teammates
        who deserve some kudos. \u2b50","creator":"U087HR246Q1","last_set":1735880164},"properties":{"canvas":{"file_id":"F086YFY8Q8N","is_empty":false,"quip_thread_id":"ADC9AASUzBD"},"use_case":"welcome"},"previous_names":["all-slack"],"num_members":5},{"id":"C0877L7ATQU","name":"onboarding-kt","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1735880439,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"onboarding-kt","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"context_team_id":"T086QJLMH2T","updated":1735880440278,"parent_conversation":null,"creator":"U087HR246Q1","is_ext_shared":false,"shared_team_ids":["T086QJLMH2T"],"pending_c[...]
