interactions:
- request:
    body: null
    headers:
      #removed auth token
    method: GET
    uri: https://slack.com/api/users.list?limit=1&offset=1
  response:
    body:
      string: '{"ok":true,"offset":"U08752F582F","members":[{"id":"USLACKBOT","team_id":"T086QJLMH2T","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":{},"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T086QJLMH2T"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0,"is_email_confirmed":false,"who_can_share_contact_card":"EVERYONE"},{"id":"U08729THU3X","team_id":"T086QJLMH2T","name":"sharonr.dsouza","deleted":false,"color":"ea2977","real_name":"Sharonr
        Dsouza","tz":"Asia\/Kolkata","tz_label":"India Standard Time","tz_offset":19800,"profile":{"title":"","phone":"","skype":"","real_name":"Sharonr
        Dsouza","real_name_normalized":"Sharonr Dsouza","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_[...]
